<!DOCTYPE html>
<html>
  <head>
    <title><%= info %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= info %></h1>
    <p>操作结果: <%= info %></p>
  </body>
</html>
